<h1>aGoogleCareer</h1>

<h4>Find a career at Google</h4>

<form>
    <input id = "jobSearch" type="text" placeholder="Engineer">
    <input id = "jobSubmit" type="submit">
</form>

<div id="box"></div>