<div class="container">
    <div id="searchRow" class="row">
        <div class="col centered">
            <img src="/images/Screen Shot 2018-11-30 at 1.14.35 AM.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col centered">
            <form id="jobSearchForm">
                <input class="centered" id="jobSearch" type="text" placeholder="Search Through Google Careers">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="headline" class="col centered">
                <h6>Search Current Google Jobs</h6>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-lg-10">
            <div id="box">
        
            </div>
        </div>
    </div>
</div>
</div>