<div class="container">
    <div class="row navbar">
        <div class="col">
            <h1>I Want A Job At Google</h1>
        </div>
    </div>
    <div id="searchRow" class="row">
        <div class="col-6">
            <h4>Find careers at Google</h4>
        </div>
        <div class="col-6">
            <form>
                <input id="jobSearch" type="text" placeholder="Engineer">
                <input id="jobSubmit" type="submit">
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <div id="box"></div>
        </div>
    </div>
</div>